{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Link Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>

<div
        class=" d-flex align-items-center justify-content-center"
        style="height: 500px;"
>
    <div class="card text-center" >
        <div class="card-header">
            Magic Link
        </div>
        <div class="card-body">
            <h6 class="card-title m-3">Enter your email below to get a magic link</h6>
            <form action="/" method="POST">
                {% csrf_token %}
                {{ form.email|as_crispy_field }}
                <button type="submit" class="btn btn-primary p mt-3 mb-3">Submit</button>
            </form>
            {% if message %}
                <div class="alert alert-success mb-0" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        </div>

    </div>
</div>
</body>
</html>